#cards:after{
    content:"";
    display:table;
    clear:both;
   }
   
.card{
    float:left;
    width:33.33333%;
    padding:10px;
   }
.card__image img{
    width:100%;
}

.card__content{
    background-color:$medium-light-gray;
    padding-bottom:40px;
    padding-right:10px;
    padding-left:30px;
    padding-top:20px;
 
}

#cards h3{
    text-transform:uppercase;
}

#cards p{
    padding-bottom:30px;
    width:19vw;
}


#cards .button--primary{
  padding-left:7vw;
  padding-right:7vw;
}

.card--dark .card__content{
    background-color:$dark-gray;
    color:white;
}