
#styleguide{

    #cards:after{
        content:"";
        display:table;
        clear:both;
    }
    
    .card{
        float:left;
        width:33.33333%;
        padding:10px;
    }
    .card__image img{
        width:100%;
    }

    .card__content{
        background-color:$medium-light-gray;
        padding-bottom:40px;
        padding-right:10px;
        padding-left:30px;
        padding-top:20px;
    
    }

    #cards h3{
        text-transform:uppercase;
    }

    #cards p{
        padding-bottom:30px;
        width:19vw;
    }


    #cards .button--primary{
    padding-left:7vw;
    padding-right:7vw;
    }

    .card--dark .card__content{
        background-color:$dark-gray;
        color:white;
    }
}


.example{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    margin-left:20px;
    margin-right:20px;
    ul{
        column-count: 2;
    }
    .card{
        width:calc(33.3333% - 20px);
        padding-bottom:40px;
        background-color:$medium-light-gray;
        margin-top:30px;
        position:relative;
        z-index:1;
        display:flex;
        h3,p,{
            padding-left:20px;
            padding-right:20px;
        }
        .card__content{
            display:flex;
            flex-wrap:wrap;
            align-items:flex-start;
        }
        img{
            object-fit:cover;
            height:400px;
            width:100%;
            object-position: 20% 0%;
        }
        span{
            background-color:$dark-gray;
            width:20px;
            height:20px;
            border-radius:50%;
            position:absolute;
            left:450px;
            top:630px;
        }
        a{
            color:white;
            background-color:$primary;
            border:2px solid $primary;
            padding-left:40px;
            padding-right:40px;
            padding-top:5px;
            padding-bottom:5px;
            text-decoration:none;
            -webkit-transition:.5s;
            font-size:.9rem;
            margin-left:20px;
            align-self:flex-end;
            &:hover{
                    border:2px solid $primary;
                    color:$primary;
                    background-color:white;
            }
        }
      }
  }

#position{
    margin-bottom:200px;
}

#rdg-header ul{
    position:fixed;
    background-color: #222;
    width:100vw;
    z-index:1;
    opacity:4;
}

#rdg-header{
    position:fixed;
    z-index:100;
}

#intro h1{
    padding-top:60px;
}

#calculated .example{
    content:"";
    display:table;
    clear:both;
    div{
        float:left;
    }
    div:nth-child(1){
        width:calc(100% - 700px);
        padding:10px;
    }
    img{
        width:700px;
    }
    
}

#flexbox, #object-fit, #css-columns, #calculated, #position{
    max-width:1600px;
    margin-left:auto;
    margin-right:auto;

}

















@media only screen and (max-width:40em) {

.example{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    .card{
        width:100%;
        padding:10px;
        background-color:$medium-light-gray;
        margin:2px;
        }
    .card__content{
        padding-bottom:20px;
    }
    ul{
        column-count: 1;
    }
}

    #calculated .example{
        content:"";
        display:table;
        clear:both;
        div{
            float:left;
        }
        div:nth-child(1){
            width:90vw;
            padding:10px;
        }
        img{
            width:90vw;
        }
    }




}
