.exercise .hero {
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width:100vw;
    height:60vh;
}

.exercise .hero .layout-container{
    background-color:$secondary;
    opacity:.9;
    color:white;
    text-align:center;
    height:60vh;
    max-width:100vw;
    position:relative;
    h1{
        padding-top:200px;
    }

}
.cta{
    background-color:#29065F;
    color:white;
    padding-bottom:50px;
    .button-group{
        margin-left:53vw;
        position:relative;
        top:-20px;
    }
    h3{
        padding-top:30px;
        padding-left:0vw;
        position:relative;
        top:30px;
        font-size:2rem;
    }
        
}

