

.layout-container{
    max-width:1200px;
    margin-left:auto;
    margin-right:auto;
}




.color-swatch{
    border-radius:50%;
    color:white;
}

.background--green{
    background-color: $primary;
}

.background--purple{
    background-color: $secondary;
}
.background--plum{
    background-color: $secondary-dark;
}
.background--dark-gray{
    background-color: $dark-gray;
}
.background--med-gray{
    background-color: $medium-dark-gray;
}
.background--light-gray{
    background-color: $medium-light-gray;
    color:black;
}

.background--xlight-gray{
    background-color:$light-gray;
    color:black;
    border:1px solid $medium-dark-gray;

}


.section-title{
    text-transform:uppercase;
}

*{
    box-sizing:border-box;
}