@mixin set-margin($property) {
  padding-left: $property;
  padding-right: $property;
}

%primary-button{
  color:white;
  padding-left:40px;
  padding-right:40px;
  padding-top:10px;
  padding-bottom:10px;
  text-decoration:none;
  -webkit-transition:.5s;
  &:hover{
    background-color:white;
  }
}


%text{
  width:400px;
  height:60px;
  display:block;
  background-color:$light-gray;
}

%placeholder{
  padding-left:10px;
  font-size:1rem;
  overflow: visible;
  display:block;
}

%check{
  -webkit-appearance:none;
  height:15px;
  width:15px;
  border:1px solid $medium-light-gray;
  margin-top:17px;
  &:checked {
   background-color:$primary;
   -webkit-appearance:none;
  }
  &:disabled {
   background-color:$medium-light-gray;
  }
}