.footer__social ul{
    li{
        display:inline;
        width:10vw;
    }
    .label{
        display:none;
    }
}


.fab{
    background-color:$medium-dark-gray;
    border-radius:50%;
    padding:10px;
    font-size:1.5rem;
}

