.button--primary{
    @extend %primary-button;
    background-color:$primary;
    border:2px solid $primary;
        &:hover{
             border:2px solid $primary;
             color:$primary;
       }
}


.button--secondary{
    @extend %primary-button;
    background-color:$secondary;
    border:2px solid $secondary;
        &:hover{
             border:2px solid $secondary;
             color:$secondary;
       }
}
