h1, h2, h3, h4, h5, h6{
    font-weight:normal;
}


#typography p:nth-child(2){
    background-color:black;
}

blockquote{
    border-left:3px solid $secondary;
    padding-left:20px;
    margin-left:0px; 
}

h1{
    font-size:$head1;
}
h2{
    font-size:$head2;
}
h3{
    font-size:$head3;
}
h4{
    font-size:$head4;
    text-transform:uppercase;
}
h5{
    font-size:$head5;
    text-transform:uppercase;
}

.hero p{
    padding-bottom:20px;
}